/*Fuentes*/
$chela: 'Chela One', cursive; //Marca
$roboto: 'Roboto Mono', monospace;  //Titulo Principal
$open: 'Open Sans', sans-serif; //Textos Varios
$nunito: 'Nunito', sans-serif; //Subtitulos y botones
$monserrat: 'Montserrat', sans-serif;
$doppio: 'Doppio One', sans-serif;
$sail: 'Sail', cursive;
$source: 'Source Sans Pro', sans-serif;
$poppins: 'Poppins', sans-serif;
$wire: 'Wire One', sans-serif;
$righteos: 'Righteous', cursive;


/*Colores*/
$a: #0469F2;
$b: #F2F2F2;
$n: #343a40;
$g: #E9E9E9;
$gc: #F7F7F7;
$go: #AEAEAE;

/*Colores Complementarios de $f3*/
$f1: #B128A0;
$f2: #FF6DEC;
$f3: #FE53E8;
$v1: #3FB117;
$v2: #7FFE53;

$vh: #69c100;



